body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(25deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%) fixed;
}

#root {
  margin: 24px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
} 

table {
  table-layout: fixed;
  border-collapse: collapse;
  margin: 0 auto;
  background-color: white;
  border-radius: 8px;
  border: none;
  box-shadow: 10px 10px 50px 0px rgba(255, 255, 255, 0.601);
}

thead {
  background-color: #343434;
  box-shadow: inset 0px -1px 0px #eee, 
              0px 5px 5px -5px rgba(0,0,0,.1);
  position: relative;
  color: white;
}

thead tr {
  display: block;
  position: relative;
}

thead td {
  font-weight: 600;
}

td:nth-child(1), 
th:nth-child(1){
  min-width: 400px;
}

td:nth-child(2),
th:nth-child(2) {
  min-width: 400px;
}

th, td {
  padding: 8px;
  text-align: left;
  max-width: 400px;
  word-break: break-all;
}

tbody {
  display: block;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  height: 400px;
  border-radius: 8px;
}

tbody tr:nth-child(2n) {
  background-color: #f1f1f1;
}

form {
  display: flex;
  flex-direction: column;
  width: 400px;
}

form label {
  font-weight: 500;
}

form input {
  height: 20px;
}

form input, form textarea {
  margin: 8px 0;
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 8px;
  font-family: inherit;
}

form textarea {
  resize: none;
  height: 100px;
}

form button {
  color: #343434;
  background-color: #fbcb43;
  font-family: inherit;
  border: none;
  border-radius: 8px;
  padding: 4px 16px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
}

.post-new-btn, .return-home-btn {
  color: #343434;
  background-color: #fbcb43;
  margin-bottom: 36px;
  border: none;
  font: inherit;
  font-weight: 600;
  padding: 4px 16px;
  border-radius: 8px;
  cursor: pointer;

  -webkit-transition: color .5s linear, background .5s linear; /* For Safari 3.0 to 6.0 */
  transition: color .5s linear, background .5s linear /* For modern browsers */
}

.post-new-btn:hover, .return-home-btn:hover {
  background: #343434;
  color: white;
}

.post-edit-btn {
  color: white;
  background-color: #343434;
  border: none;
  padding: 8px;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  cursor: pointer;
}

.page-not-found {
  display: flex;
  color: #343434;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}